.scorewin {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scorewin span{
    font-size: 1.2rem;
    font-weight: bold;
}

.scorewin>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoretitle {
    background-color: #606060;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 50px;
}
.scoretitle>span{
    color: #FFFFFF;
}

.scorevalue {
    background-color: #CBCBCB;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 70px;
}

